body {
    text-align: center;
}

div {
    display: block;
    background-color: blue;
    padding: 10px;
    border: 2px solid red;
    border-radius: 100px 20px 800px 100px;
    margin: 10px;
}
p {
    display: inline-block;
    background-color: blue;
    margin-left: 42.5vw;
    margin-right: 42.5vw;
    padding: 10px;
    border: 2px dashed red;
    border-radius: 100px 20px 800px 100px;
}
span {
    display: inline;
    background-color: blue;
    padding: 10px;
    border: 10px;
    margin: 20px;
    width: 10px;
    border: 2px dotted red;
    border-radius: 100px;
}